<?xml version='1.0' encoding='UTF-8'?>
<options>
    <!--Путь и имя конфигурационного файла БД-->
    <!--FlagClean = 1 - чистить БД перед стартом, 0 - не чистить, 2 - запросить пользователя-->
    <!--key - ключ сегмента памяти для работы с ОРБД-->
    <!--mode -  режим работы БД-->
    <!--  0 - Стандартный режим работы с БД BERKELEY-->
    <!--  1 - Работа с ОРБД (оперативная распределенная БД)-->
    <!--  2 - Работа без записи в БД BERKELEY (работа с оперативной памятью)-->
    <ConfigDb mode="0" path="" FlagClean="2" key="" name="bdbconfig.ini"/>
    <!--1/0 вкл/выкл использования пользователького шрифта как шрифта по-умолчанию (F)-->
    <CustomFont value="0" koeff="1" file=""/>
    <!--Настройки 3D (1/0 вкл/выкл использования)-->
    <Config3D projectFile="3D/.gl3d_project" value="0"/>
    <!--Настройки карт (1/0 вкл/выкл использования)-->
    <ConfigMap projectFile="maps/maps.ini" value="0"/>
    <!--Настройки исполнительной системы-->
    <AnMon>
        <!--Каталог с пользовательскими окнами-->
        <UserWindows path="forms"/>
        <!--Каталог для протоколов-->
        <Protocols path=""/>
        <!--1/0 вкл/выкл подключение системного протокола-->
        <UseSystemProtocols value="0" buffer="10"/>
        <!--Каталог c файлами для инициализации параметров-->
        <InitParams path="data/init"/>
        <!--Имя запускаемого проекта (s)-->
        <Project name=""/>
        <!--1/0 вкл/выкл консоль (c)-->
        <Console value="1">
            <!--Уровень отладочной информации Монитора от 0 до 2 (d)-->
            <!--  0 - выкл. (точки останова не обрабатываются)-->
            <!--  1 - вывод информации по отрабатываемым операторам-->
            <!--  2 - 1 + вывод информации по вектору фишек схем-->
            <DebugMonitor level="1"/>
            <!--Уровень сбора статистики Анализа от 0 до 4 (i)-->
            <!--реально используется 1/0 вкл/выкл-->
            <StatAnaliz level="1"/>
            <!--Уровень сбора статистики Монитора от 0 до 2 (I)-->
            <!--реально используется 1/0 вкл/выкл-->
            <StatMonitor level="0"/>
            <!--Обработка счетчиков производительности (t)-->
            <Timers value="0"/>
            <!--1/0 вкл/выкл звуковой сигнал при ошибке (B)/-->
            <Beep value="0"/>
        </Console>
        <!--Настройки лог-файла (1/0 вкл/выкл использования)-->
        <logFile FileName="an.log" value="0"/>
        <!--1/0 вкл/выкл подключение модуля работы с SQL-запросами (sql)-->
        <UseSQL value="0"/>
        <!--1/0 вкл/выкл учета статуса достоверности при работе с графическими состояниями-->
        <UseStatus value="0"/>
        <!--1/0 вкл/выкл подключение модуля графопостроителя-->
        <UsePlotter value="1"/>
        <!--1/0 вкл/выкл подключение внешнего загрузчика (u)-->
        <Loader port="7030" host="127.0.0.1" value="0"/>
        <!--1/0 вкл/выкл подключение к серверу статистики (S)-->
        <Statistic port="7050" host="127.0.0.1" value="0"/>
        <!--1/0 вкл/выкл подключение MLB"/-->
        <MLB host="127.0.0.1" value="0">
            <!--Количество циклов повтора запроса данных с MLB (z)-->
            <cycles value="0"/>
            <!--Такт обработки 59х операторов (b)-->
            <takt value="100"/>
        </MLB>
        <!--Количество "холостых" тактов Монитора (h)-->
        <EmptyTakts varName="EmptyTaktCtrl" value="1"/>
        <!--такт обновления вектора фишек (сканирования МЛБ для диагностики)-->
        <TaktUpdateValq value="50"/>
        <!--смещение "0" временной шкалы для баллистических расчетов-->
        <ZeroTimeDelta value="0"/>
        <!--вкл режима "тихой загрузки", при котором не отображается прогрессбар-->
        <SilentMode value="0"/>
    </AnMon>
    <!--Настройки операционной среды-->
    <Apid>
        <!--1/0 вкл/выкл консоль (c)-->
        <Console value="0"/>
        <!--Каталог с данными-->
        <Data path="data"/>
        <!--Каталог для протокола-->
        <Protocols path="Documents"/>
        <!--Каталог для архивов-->
        <Archives path="save"/>
    </Apid>
    <!--Настройки информационно-справочной системы-->
    <ISS port="1024" brouser="" startPage="http://localhost/iss"/>
    <!--Каталог с аудиозаписями-->
    <Sound path="sound"/>
</options>
